<div>
    Numero de páginas <input class='box' 
                            type="number"
                            [(ngModel)]="numPages">
    Número de idiomas <input class='box'
                            type="number"
                            [(ngModel)]="numLanguages">
                        
    <button (click)='calculate()'>Calcular</button>
    <form>
        <input type="text"
                class="form-control"
                formControlName="'nombre"
                placeholder="nombre del producto">
    </form>
</div>
