<div class="border">
  <form [formGroup]="myform">
    <div>
      <label for="page">Número de páginas </label>
      <input type="text" name="page" formControlName="pages" (change)="calculate()" />
      <div class="warning" *ngIf="myform.get('pages')?.invalid && myform.get('pages')?.touched">
        ingrese un número mayor o igual a cero
      </div>
    </div>

    <div>
      <label for="languages">Número de idiomas </label>
      <input type="text" name="languages" formControlName="languages" (change)="calculate()" />
      <div class="warning" *ngIf="myform.get('languages')?.invalid && myform.get('languages')?.touched">
        ingrese un número mayor o igual a cero
      </div>
    </div>
  </form>
</div>
