<div class="row">
<div class="col-6 sideBar">
    <div class="input-group mt-3">
        <span class="input-group-text" id="basic-addon1">Presupuesto</span>
        <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="quoteNa">
      </div>
      <hr>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Cliente</span>
        <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1"[(ngModel)]="clientNa">
      </div>
      <hr>
      <button class="btn btn-primary" (click)="sendQuotInfoToHome()">Añadir</button>   
</div>
</div>
      
      
    