<div class="container">
  <div class="row">

    <div class="col-7">
      <p>Que quieres hacer</p>
      <p>el web es : {{web }}s el seo:{{seo}} y el google:  {{google}}</p>
      <div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="webProduct"
            (ngModelChange)="showTotal()"
            [routerLink]="[]" [queryParams]="{ webProduct: true }" queryParamsHandling="merge" />
          <label class="form-check-label" for="flexCheckDefault">
            Una pàgina web (500€)
          </label>
          <app-panell *ngIf='webProduct' (sendTotalToHome)="addExtraToTotal($event)">
          </app-panell>

        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [(ngModel)]="seoProduct"
            (ngModelChange)="showTotal()"
            [routerLink]="[]" [queryParams]="{ seoProduct: true }" queryParamsHandling="merge" />
          <label class="form-check-label" for="flexCheckChecked">
            Una consultoria SEO (300€)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [(ngModel)]="googleProduct"
            (ngModelChange)="showTotal()"
            [routerLink]="[]" [queryParams]="{ googleProduct: true }" queryParamsHandling="merge"
            />
          <label class="form-check-label" for="flexCheckChecked">
            Una campanya de Google Ads (200€)
          </label>
        </div>
      </div>
      <p>Preu:{{total}} €</p>
      

      <div>
        <app-quotation-form (infoQuote)="addQuotByService($event)"></app-quotation-form>
      </div>

    </div>


    <div class="col-4">
      <app-pressupost-list></app-pressupost-list>
    </div>

   </div>
  </div>
